# --- Python ---
__pycache__/
*.pyc
.venv/
venv/
ENV/
env/

# --- Jupyter Notebook ---
.ipynb_checkpoints

# --- OS-specific ---
.DS_Store
Thumbs.db

# --- IDE ---
.vscode/
.idea/

# --- Project-specific (매우 중요) ---
# 용량이 큰 데이터 폴더는 절대 올리지 않습니다.
data/

# 실행 결과물 및 생성된 파일들
output/
models/
images/
AIMERS_2508 2